{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container" style="margin-top: 85px">

  <div class="card">
    <div class="card-body">

      <h4 class="card-title" style="text-align: center">Skin Cancer</h4>
      <p class="card-text">

            <p>Skin cancer is one of the most common types of cancer. It can occur anywhere on the skin.
            Although melanoma is the most dangerous type, it is crucial to be aware of non-melanoma skin
            cancers and understand the forms they can take. The most common kinds of non-melanoma
            skin cancers are Basal Cell Carcinoma and Squamous Cell Carcinoma. They typically show
            skin lesions that show non-natural growth.</p>

            <p>There are multiple reasons for skin cancer to be on the rise for decades. For example, increased
            tanning, high sun exposure, or lack of protection from the sun damages the skin. On the other
            hand, there are multiple treatment options, if the cancer is detected earlier. That’s why it is very
            important to check the skin regularly and see a doctor when a non-natural spot is found on the skin.</p>

    </div>
  </div>
</div>


{% endblock %}