{% extends 'main.html' %}
{% load static %}

{% block content %}


<div class="container" style="margin-top: 30px; font-size: 15px">

  <div class="card">
    <div class="card-body">

         <h6 class="card-title" style="text-align: center">Skin Cancer Types</h6>
          <p class="card-text">

              <p><b>(nv)</b> Melanocytic nevi are benign neoplasms of melanocytes and appear in a myriad of variants, which all
              are included in our series. The variants may differ significantly from a dermatoscopic point of view.</p>

              <p><b>(mel)</b> Melanoma is a malignant neoplasm derived from melanocytes that may appear in different variants.
                  If excised in an early stage it can be cured by simple surgical excision. Melanomas can be invasive or
                  non-invasive (in situ). We included all variants of melanoma including melanoma in situ, but did exclude
                  non-pigmented, subungual, ocular or mucosal melanoma.</p>

              <p><b>(bkl)</b> "Benign keratosis" is a generic class that includes seborrheic ker- atoses ("senile wart"), solar
                  lentigo - which can be regarded a flat variant of seborrheic keratosis - and lichen-planus like keratoses
                  (LPLK), which corresponds to a seborrheic keratosis or a solar lentigo with inflammation and regression.
                  The three subgroups may look different dermatoscop- ically, but we grouped them together because they
                  are similar biologically and often reported under the same generic term histopathologically. From a
                  dermatoscopic view, lichen planus-like keratoses are especially challeng- ing because they can show
                  morphologic features mimicking melanoma and are often biopsied or excised for diagnostic reasons.</p>

              <p><b>(bcc)</b> Basal cell carcinoma is a common variant of epithelial skin cancer that rarely metastasizes but grows
                  destructively if untreated. It appears in different morphologic variants (flat, nodular, pigmented, cystic, etc)
                  , which are all included in this set. </p>

              <p><b>(akiec)</b> Actinic Keratoses (Solar Keratoses) and intraepithelial Carcinoma (Bowen’s disease) are common
                  non-invasive, variants of squamous cell car- cinoma that can be treated locally without surgery. Some authors
                  regard them as precursors of squamous cell carcinomas and not as actual carci- nomas. There is, however,
                  agreement that these lesions may progress to invasive squamous cell carcinoma - which is usually not
                  pigmented. Both neoplasms commonly show surface scaling and commonly are devoid of pigment. Actinic keratoses
                  are more common on the face and Bowen’s disease is more common on other body sites. Because both types are
                  in- duced by UV-light the surrounding skin is usually typified by severe sun damaged except in cases of
                  Bowen’s disease that are caused by human papilloma virus infection and not by UV. Pigmented variants exists
                  for Bowen’s disease [19] and for actinic keratoses. Both are included in this set.</p>

              <p><b>(vasc)</b> Vascular skin lesions in the dataset range from cherry angiomas to angiokeratomas and pyogenic
                  granulomas. Hemorrhage is also included in this category.</p>

              <p><b>(df)</b> Dermatofibroma is a benign skin lesion regarded as either a benign proliferation or an inflammatory
                  reaction to minimal trauma. It is brown often showing a central zone of fibrosis dermatoscopically.</p>

    </div>
  </div>
</div>


{% endblock %}