{% extends 'main.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 85px">
        <div class="row">
            <div class="col col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 style="text-align: center">1</h3>
                        <p> Please take a photo of the skin spot, and click on the "Check Your Skin" button.
                        This button will direct you to the image uploading page. Click on "Choose a photo!" button, and "Submit"
                        the photo.</p>
                    </div>
                </div>
            </div>
             <div class="col col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 style="text-align: center">2</h3>
                        <p>After uploading the photo, you will receive a prediction result along with doctor recommendations.</p>
                    </div>
                </div>
            </div>
             <div class="col col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h3 style="text-align: center">3</h3>
                        <p>Since the system save your data, you can check changes over time by going to the profile page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}